.styles--preview.styles--preview--background,
.styles--preview.styles--preview--color-theme,
.styles--preview.styles--preview--icon,
.styles--preview.styles--preview--object,
.styles--preview.styles--preview--text {
  border-radius: 5px;
  margin: 5px 1em 5px 0;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border-radius .2s ease;
}
.styles--preview.styles--preview--background.styles--selected,
.styles--preview.styles--preview--color-theme.styles--selected,
.styles--preview.styles--preview--icon.styles--selected,
.styles--preview.styles--preview--object.styles--selected,
.styles--preview.styles--preview--text.styles--selected {
  border: 2px solid #fff;
  outline: 2px solid #263ed3;
  border-radius: 0;
}
.styles--preview.styles--selectable, .styles--preview.styles--toggleable {
  cursor: pointer;
}
.styles--preview.styles--selectable.styles--empty {
  background-image: linear-gradient(45deg, #fff 25%, #ff6b6b 25%, #ff6b6b 50%, #fff 50%, #fff 75%, #ff6b6b 75%, #ff6b6b 100%);
  background-size: 56.57px 56.57px;
}

.styles--preview.styles--preview--background,
.styles--preview.styles--preview--object {
  display: inline-flex;
  flex-wrap: wrap;
  flex-flow: column;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.styles--preview.styles--preview--background.styles--selectable.styles--empty,
.styles--preview.styles--preview--object.styles--selectable.styles--empty{
  width: 80px;
  height: 80px;
  top: 10px;
  font-size: small;
}

.styles--preview.styles--preview--object {
  background-color: white;
}

.styles--preview.styles--preview--object div {
  display: block;
  width: 60px;
  height: 60px;
  background-image: linear-gradient(45deg, #eee 25%, #ccc 25%, #ccc 50%, #eee 50%, #eee 75%, #ccc 75%, #ccc 100%);
  background-size: 56.57px 56.57px;
}

.styles--preview.styles--preview--text {
  display: inline-block;
  width: 160px;
  height: 70px;
  padding: 3px;
  position: relative;
  overflow: hidden;
}
.styles--preview.styles--preview--text.styles--selectable.styles--empty {
  width: 120px;
  height: 50px;
  top: 10px;
  position: relative;
}

.styles--preview.styles--preview--icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  padding: 3px;
  margin-right: 10px;
  background-color: #fff;
}
.styles--preview.styles--preview--icon div {
  width: 25px;
  height: 25px;
  background-size: contain;
  margin: 0;
  background-color: #000;
}

.styles--preview.styles--preview--color-theme {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 18px;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.styles--preview.styles--preview--color-theme.styles--selectable.styles--empty {
  width: 25px;
  height: 25px;
  top: 5px;
}

.field--type-styles div.styles--preview--button,
.field--type-styles-link div.styles--preview--button,
.field--type-styles-link-target div.styles--preview--button {
  min-height: 30px;
  padding: 0 30px;
  border-width: 2px;
  transition: border-radius .2s ease;
}

.styles--preview.styles--preview--button {
  outline: 3px solid transparent;
  margin: 5px 1em 5px 0;
}
.styles--preview.styles--preview--button.styles--selectable:hover,
.styles--preview.styles--preview--button.styles--selectable.styles--selected {
  border: 2px solid #fff;
  outline: 2px solid #263ed3;
}
