.styles--preview.styles--selectable {
  cursor: pointer;
}

.styles--preview.styles--preview--background {
  display: inline-block;
  border: 2px outset lightgrey;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: 5px 1em 5px 0;
  text-align: center;
  box-sizing: border-box;
}

.styles--preview.styles--preview--background.styles--selected {
  border: 2px inset lightgrey;
}

.styles--preview.styles--preview--background.styles--selectable.styles--empty {
  background-image: linear-gradient(45deg, #ffffff 25%, #ff6b6b 25%, #ff6b6b 50%, #ffffff 50%, #ffffff 75%, #ff6b6b 75%, #ff6b6b 100%);
  background-size: 56.57px 56.57px;
  width: 80px;
  height: 80px;
  top: 20px;
  position: relative;
}


.styles--preview.styles--preview--button {
  outline: 2px solid transparent !important;
  margin: 5px 1em 5px 0 !important;
}
.styles--preview.styles--preview--button.styles--selectable:hover {
  outline: 2px solid grey !important;
}
.styles--preview.styles--preview--button.styles--selectable.styles--selected {
  outline: 2px solid black !important;
}
