.primary {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  color: white;
}
.secondary {
  background-color: red;
  color: white;
}
.tertairy {
  background-color: yellow;
  color: black;
}

.button.button--secondary {
  background: red;
  border-color: red;
  color: white;
}
.button.button--secondary:focus {
  background: orangered;
}
.button.button--secondary:active {
  background: darkred;
}
.button.button--ghost {
  border: 2px solid grey;
  background-color: transparent;
  color: grey;
}

.text--normal {
  font-size: 14px;
  font-style: normal;
}
.text--italic {
  font-size: 14px;
  font-style: italic;
}
.text--huge {
  font-size: 24px;
  font-weight: bold;
}
